/* Dropdown.css */

.booking-dropdown{
    width: 415px;
    font-size: 20px;
    color: #6C6C6C;
    background-color: #F5F5F5;
    border: 2px solid #DADADA;
    border-radius: 20px;
    padding: 10px;
}