/* Navbar.css */
.navbar {
    background-color: rgba(0, 0, 0, 0.60);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .left-section {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 50px;
    padding-left: 20px;
    padding-right: 30px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 20px;
  }
  
  .search-bar i {
    color: grey;
    margin-right: 10px;
  }
  
  .rounded-input {
    border: none;
    background: transparent;
    color: black;
    outline: none;
    width: 200px;
  }
  
  .nav-items {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  
  .nav-items li {
    margin-right: 70px;
    justify-content: center;
    align-items: center;
  }
  
  .nav-items a {
    color: white;
    text-decoration: none;
  }

  .profile-item a {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
  }

  .profile-icon {
    width: 30px;
    height: 30px;
    background-color: #EBF8FE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button {
    background-color: white;
    color: black;
    border: 2px solid #000000;
    padding: 5px; 
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    border-radius: 8px; 
    width: 8rem; 
    height: 2rem;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: black; /* Solid black background */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    color: white;
  }