/* PaymentForm.css */
#payment-method {
    max-width: 575px;
    margin: 0 auto; /* Center the form horizontally */
  }
  
  #payment-method form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #payment-method label {
    margin-bottom: 10px;
  }
  
  #payment-method input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #payment-method button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #payment-method .error {
    color: red;
    margin-bottom: 5px;
  }
  