.booking-bg {
    background-color: #EDEDED !important;
    min-height: 100vh;
}

.booking-container {
    background-color: #fff !important;
    text-align: center;
    width: 558px;
    height: 324px;
    border-radius: 20px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.booking-container h2 {
    font-size: 33px;
    font-weight: 500;
}

.submit-quantity {
    background-color: #E98123;
    color: #FFF;
    border-radius: 20px;
    font-size: 20px;
    width: 244px;
    padding: 15px;
}

.submit-quantity:hover {
    background-color: #db6a08;
}

.booking-container h3 {
    font-size: 20px;
    font-weight: 500;
}

.booking-container .fa {
    transform: scale(1,1.2);
    color: #678bc0;
}
