/* Homepage.css */

.home-page-container {
    position: relative;
    overflow: hidden;
}

.background-image img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.content {
    position: relative;
    margin-top: 10px;
    z-index: 2;
    margin-left: 90px;
}

.h1 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 42px; 
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.h2 {
    color: #122A3D;
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.event-cards {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    padding: 10px;
  }