/* PurchaseTicketPage.css */

.purchase-container img {
    width: 50px;
    padding-left: 20px;
    padding-right: 30px;
  }

  .purchase-container h1 {
    font-size: 32px;
    font-weight: 550;
  }

  .purchase-container h2 {
    color: #6C6C6C;
    font-size: 30px;
    font-weight: 550;
  }

  .purchase-container p {
    color: #6C6C6C;
    font-size: 25px;
    font-weight: 350;
  }