.users-event-page-container {
    margin-top: 7%;
}

.h1 {
    color: #000;
    margin-left: 5%;
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .background-image img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  
  .content {
    position: relative;
    margin-top: 10px;
    z-index: 1;
    margin-left: 90px;
  }
  
  
  .h2 {
    color: #122A3D;
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .event-cards {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    overflow-x: auto;
    padding: 10px;
  }
  
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    flex: wrap;
  }
  
  
  .subtitle {
    font-weight: lighter;
  }
  
  .popup {
    background-color: #fff;
    width: 75%;
    height: 60%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 4;
  }
  
  .popup-content {
    text-align: flex-start;
  }
  
  .radio-buttons {
    display: flex;
    margin: 0 60% 2vh 0;
  }
  
  .buttons-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 2vh 0 0 3vw;
  }
  
  .buttons-container button:first-child {
    margin-right: 0%;
    height: 7vh;
  }
  
  .buttons-container button {
    border-radius: 1rem;
    margin-top: 2%;
    background-color: #E98123;
    margin-left: 10%;
    font-weight: bolder;
    font-size: large;
  }
  
  .buttons-container button:hover {
    border-radius: 1rem;
    margin-top: 2%;
    background-color: #ac5000;
    margin-left: 10%;
  }
  
  @media (max-width: 768px) {
    .popup {
      width: 90%; /* Adjust the width based on your preference for mobile view */
      height: auto; /* Adjust the height to auto for better responsiveness */
      margin: -15vh auto 0 auto; /* Adjust the top margin to move it closer to the top */
    }
  }